img{
    width: 130px;
    display:block; border-style: solid;
    margin: 10px; float: center;
    padding: 0px; border-color: black;
}
h2{text-transform:capitalize;
    font-weight:900;}
    
h1{  font-size: x-large;
    text-transform:uppercase;
    text-decoration: none;
    color: rgb(256,256,256);
    text-align: center;
    -webkit-text-stroke: 0.5px;
}

a{text-decoration: none;}

nav a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:20%; color: #000000;
    background-color: rgba(255, 255, 255,0.2);
    padding:15px; margin:8px; 
    border-radius: 8px;
}

body{
    block-size: auto; padding: 0px;
    -webkit-text-stroke: 0.5px;
}
header{
    background-image: url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
    background-size: 100%;
    padding: 50px;
}

.left{
    display: block;
    float:left; 
    margin:10px; padding:2%;
    width: auto;
    background-color: rgb(120,120,20);
}

.right{
    display: block;
    float: inline-end;
    margin: 10px;
    background-color: rgb(240, 248, 255);
    text-align: left;
}

a:hover{
    background-color: rgb(128,128,128);
}

.active{
    background-color: rgb(240, 248, 255);
}