@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;900&display=swap');
/*Global Style*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  background-color: #008CBA;
}

html
{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  list-style: none;
}


a{
  text-decoration: none;
}

ul{
  list-style: none;
}

p{
  font-size: 1.6rem;
}

img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

section{
  padding: 6rem 0;
}
/*
body{
  background-color: cornflowerblue;
  background-color: #ffb82b;
  background: url('images/cover-photo.jfif') no-repeat center;
 background-size: cover;
 height: 500px;
 position: relative;
}*/

/*header*/
header{
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container{
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255, 255, 0.2);
}

.nav-bar{
  width: 20rem;
}

.menu-icons i{
  font-size: 3.5rem;
  color: blue;
  cursor: pointer;

}

.close i{
  color: #eb648c;
}

.nav-list{
  width: 25rem;
  height: 100vh;
  background-color: #d7d4ed;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}

.nav-list.active{
  right: 0;
}

.close{
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-item{
  margin: 1.5rem 0;
}

.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.btn-login{
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.btn-login:hover{
  background-color: #008CBA;
  color: white;
}

.nav-link{
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

/*details*/
.detail{
  width: 100%;
  height: 100vh;
  background: url('cover-photo.jfif') center no-repeat;
  background-size: 100%;
  position: relative;
}


.top nav .menu ul li{
  float: left;
  font-size: 20px;
  justify-content: space-between;
  padding-right: 20px;
  color: black;
}

.top nav .menu ul li a span{
  justify-content: space-between;
}

.social-icons{
  font-size: 20px;
}

.menu li{
  color: rgb(228, 24, 58);
}

span{
    display: inline-block;
    size: larger;
}

body{
  background-color: #a2d8eb;
}


.hero{
  display: block;
  position: static;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(cover-photo.jfif);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box{
  width:  420px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background-color: #ffffff;
  opacity: 0.7;
  overflow: hidden;
}

.button-box{
  width: 220px;
  height: 35px auto; 
  position: relative;
  left: 65px;
  margin: 45px;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}


.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 3px;
  outline: none;
  position: relative;
}

#btn{
  top: 0px;
  left: auto;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #103cff, #6bd0dd);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group{
  left: 30px;
  position: absolute;
  width: 280px;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}

.input-field{
  width: 100%;
  padding: 10px 0px;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  background: linear-gradient(to right, #103cff, #6bd0dd);
  border-radius: 30px;
  border: #777;
}

input.check-box{
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 10px;
}

text{
  color: #333;
  font-size: 12px;
  left: 30px;
  margin: 10px;
  bottom: auto;
  position: absolute;
}

.form-box p{
    text-align: center;
    display: block;
    margin: 40px 3px 0px 3px;
    padding-bottom: 0px;
    font-size: 35px;
    color: rgb(220, 80, 46)
} 

#login{
    display: block;
    left: 50px;
    top: 30%;
}

#register{
    left: 450px;
    display: block;
    top:30%;
}
